.contents
  = render ('modules/header')
  %h1 The latest news
  .content
    %script#_tangan_loader_8ea8c35077f509814861c78f6167f3d8{:src => "https://tanganrss.com/rsstxt/loader.php?url=https%3A%2F%2Ftanganrss.com%2Frsstxt%2Frsstxt.php%3Fkey%3D8ea8c35077f509814861c78f6167f3d8&id=8ea8c35077f509814861c78f6167f3d8&target=", :type => "text/javascript"}
  = render ('modules/footer')

