.main-show{
  height: 100vh;
  width: 100vw;
  h1{
    
  }
  .main-show-content{
    text-align: center;
    background-image: url("https://www.pixeden.com/media/k2/galleries/93/002-subtle-light-pattern-background-texture.jpg");
    height: 400px;
    margin: 0px 90px;
    h3{

    }
    h2{
      a{

      }

    }
}
}